/* *{
    padding: 0px;
    margin: 0px;
} */
#root{
    background-image: url(../img/zzzz.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* html, body, #root, #root> div{
    height: 100%;
} */

.a_among img{
    opacity: 0.5;
    width: 100%;
    margin-top: 5%;
}

.a_among img:hover{
    opacity: 0.90;
}


/*-------------------------------INICIO--------------------------------------*/

.among_nav{
    background-color: rgba(68,75,84, 0.7);
    height: 50px;
    text-align: center;
    margin-top: 1%;
    padding-top: 1%;
}
.among_ul li{
    display: inline;
    margin-right: 4%;
    margin-left: 4%;
}
li a{
    text-decoration: none;
    color: white;
    font-family: Berlin Sans FB;
    font-size: 27px;
    margin-top: 6%;
    /* letter-spacing: 1px; */
}

li a:focus{
    opacity: 0.6;
}

.among_desc p{
    color: white;
    height: auto;
    font-size: 25px;
    font-family: Berlin Sans FB;
    margin-left: 15%;
    letter-spacing: 2px;
    text-align: center;
    padding: 5%;
    width: 60%;
}
.among_desc_img{
    height: auto;
    margin-top: 110%;
    margin-left: -219%;
    opacity: 0.5;
    width: 80%;
}
.among_desc img:hover{
    opacity: 0.90;
}



/* ----------------------------------------------------------------------------------------- */


.among_menu{
    padding: 5%;
}
.among_menu a{
    text-decoration: none;
    color: white;
    font-family: Berlin Sans FB;
    font-size: 30px;
}
.among_menu a:hover{
    color: blue;
}

/* -----------------------------------------CAFETERIA--------------------------------------- */

.among_caf-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_caf-img img:hover{
    border: 1px solid white;
}

.among_caf-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -22.5%;
    margin-left: 17.2%;
    width: 3%;
}
.among_caf{
    text-align: center;
}
.among_caf-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -27%;
    margin-top: 11%;
    position: absolute;
    width: 7%;
}
.among_caf_tit1{
    position: absolute;
    margin-left: -38.5%;
    margin-top: 12%;
}
.among_caf-fle2 img{
    height: auto;
    margin-top: -2%;
    transform: rotate(90deg);
    width: 7%;
}
.among_caf_tit2{
    position: absolute;
    margin-left: -38px;
    margin-top: 4.8%;
}
.among_caf-fle3 img{
    position: absolute;
    margin-left: 20%;
    margin-top: -22%;
    width: 7%;
    height: auto;
}
.among_caf_tit3{
    position: absolute;
    margin-left: 27%;
    margin-top: -19.5%;
}

/* ---------------------------------------ALA MEDICA--------------------------------------------- */


.among_ala-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_ala-img img:hover{
    border: 1px solid white;
}
.among_ala{
    text-align: center;
}
.among_ala-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -27%;
    margin-top: 11%;
    position: absolute;
    width: 7%;
}
.among_ala_tit{
    position: absolute;
    margin-left: -42%;
    margin-top: 11.7%;
}
.among_ala-fle3 img{
    position: absolute;
    margin-left: 20%;
    margin-top: -17%;
    width: 7%;
    height: auto;
}
.among_ala_tit3{
    position: absolute;
    margin-left: 27%;
    margin-top: -14.5%;
}

.among_ala-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -22.5%;
    margin-left: 17.2%;
    width: 3%;
}

.modal_2{
    background-color: rgba(0, 0, 0, 0.8);
}
.img_modal2{
    width: 60%;
    margin-left: 20%;
    margin-top: 7%;
    margin-bottom: 5%;
}
.use{
    cursor: pointer;
    margin-top: -10.7%;
    margin-left: 15.3%;
    position: absolute;
    width: 4.5%;
}

/* ------------------------------------------------ADMINISTRACION------------------------------------- */

.among_adm-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_adm-img img:hover{
    border: 1px solid white;
}
.among_adm{
    text-align: center;
}
.among_adm-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -27%;
    margin-top: 12%;
    position: absolute;
    width: 7%;
}
.among_adm_tit{
    position: absolute;
    margin-left: -33.5%;
    margin-top: 12.8%;
}
.among_adm-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -28.5%;
    margin-left: 16.3%;
    width: 3.7%;
} 

/* ------------------------------------------------ALMACEN------------------------------------------- */

.among_alm-img img{
    width: 45%;
    height: auto;
    margin-top: 9%;
}
.among_alm-img img:hover{
    border: 1px solid white;
}
.among_alm{
    text-align: center;
}
.among_alm-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -27%;
    margin-top: 14%;
    position: absolute;
    width: 7%;
}
.among_alm_tit{
    position: absolute;
    margin-left: -39%;
    margin-top: 15%;
}
.among_alm-fle2 img{
    position: absolute;
    margin-left: 20%;
    margin-top: -25%;
    width: 7%;
    height: auto;
}
.among_alm_tit2{
    position: absolute;
    margin-left: 27%;
    margin-top: -22.5%;
}
.among_alm-fle3 img{
    position: absolute;
    margin-left: 7%;
    margin-top: -33.3%;
    width: 7%;
    height: auto;
    transform: rotate(270deg);
}
.among_alm_tit3{
    position: absolute;
    margin-left: 7.3%;
    margin-top: -35%;
}

.among_alm-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -21.4%;
    margin-left: 17.2%;
    width: 3%;
} 
.use_alm{
    cursor: pointer;
    margin-top: -11%;
    margin-left: 15.3%;
    position: absolute;
    width: 4.5%;
}

/* ----------------------------------------------------ARMERIA------------------------------------------ */

.among_arm-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_arm-img img:hover{
    border: 1px solid white;
}
.among_arm{
    text-align: center;
}
.among_arm-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -27.5%;
    margin-top: 11%;
    position: absolute;
    width: 7%;
}
.among_arm_tit{
    position: absolute;
    margin-left: -37%;
    margin-top: 11.7%;
}
.among_arm-fle2 img{
    height: auto;
    position: absolute;
    margin-top: -2%;
    margin-left: 2%;
    transform: rotate(90deg);
    width: 7%;
}
.among_arm_tit2{
    position: absolute;
    margin-left: 2.5%;
    margin-top: 5%;
}

.among_arm-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -22.6%;
    margin-left: 17.2%;
    width: 3%;
} 

/* -------------------------------------------------COMUNICACIONES------------------------------------- */

.among_com-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_com-img img:hover{
    border: 1px solid white;
}
.among_com{
    text-align: center;
}
.among_com-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -27%;
    margin-top: 1%;
    position: absolute;
    width: 7%;
}
.among_com_tit{
    position: absolute;
    margin-left: -36%;
    margin-top: 1.9%;
}
.among_com-fle3 img{
    position: absolute;
    margin-left: 20%;
    margin-top: -26%;
    width: 7%;
    height: auto;
}
.among_com_tit3{
    position: absolute;
    margin-left: 27%;
    margin-top: -23.5%;
}

.among_com-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -22.6%;
    margin-left: 17.2%;
    width: 3%;
} 

/* ------------------------------------------------ELECTRICIDAD------------------------------------- */


.among_ele-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_ele-img img:hover{
    border: 1px solid white;
}
.among_ele{
    text-align: center;
}
.among_ele-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -27%;
    margin-top: -13%;
    position: absolute;
    width: 7%;
}
.among_ele_tit{
    position: absolute;
    margin-left: -41%;
    margin-top: -10.7%;
}
.among_ele-fle2 img{
    height: auto;
    position: absolute;
    margin-top: -3.4%;
    margin-left: -10%;
    transform: rotate(90deg);
    width: 7%;
}
.among_ele_tit2{
    position: absolute;
    margin-left: -11%;
    margin-top: 3.5%;
    padding-bottom: 3%;
}

.among_ele-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -22.5%;
    margin-left: 17.2%;
    width: 3%;
} 

/* --------------------------------------------------ESCUDOS---------------------------------------- */

.among_esc-img img{
    width: 45%;
    height: auto;
    margin-top: 9%;
}
.among_esc-img img:hover{
    border: 1px solid white;
}
.among_esc{
    text-align: center;
}
.among_esc-fle2 img{
    position: absolute;
    margin-left: -27.6%;
    margin-top: 17%;
    height: auto;
    transform: rotate(180deg);
    width: 7%;
}
.among_esc_tit2{
    position: absolute;
    margin-left: -43.5%;
    margin-top: 18%;
}
.among_esc-fle3 img{
    position: absolute;
    margin-left: -2.5%;
    margin-top: -32.5%;
    width: 7%;
    height: auto;
    transform: rotate(270deg);
}
.among_esc_tit3{
    position: absolute;
    margin-left: -2.3%;
    margin-top: -34.3%;
}

.among_esc-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -21.4%;
    margin-left: 17.1%;
    width: 3%;
} 
.use_esc{
    cursor: pointer;
    margin-top: -9.5%;
    margin-left: 15.3%;
    position: absolute;
    width: 4.5%;
}

/* ----------------------------------------------MOTOR INFERIOR------------------------------------- */

.among_mi-img img{
    width: 45%;
    height: auto;
    margin-top: 9%;
}
.among_mi-img img:hover{
    border: 1px solid white;
}
.among_mi{
    text-align: center;
}
.among_mi-fle2 img{
    position: absolute;
    margin-left: 20%;
    margin-top: 14%;
    width: 7%;
    height: auto;
}
.among_mi_tit2{
    position: absolute;
    margin-left: 27%;
    margin-top: 15%;
}
.among_mi-fle3 img{
    position: absolute;
    margin-left: 1%;
    margin-top: -32.2%;
    width: 7%;
    height: auto;
    transform: rotate(270deg);
}
.among_mi_tit3{
    position: absolute;
    margin-left: 1%;
    margin-top: -34%;
}

.among_mi-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -21.3%;
    margin-left: 17.2%;
    width: 3%;
} 

/* --------------------------------------------MOTOR SUPERIOR--------------------------------------- */

.among_ms-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_ms-img img:hover{
    border: 1px solid white;
}
.among_ms{
    text-align: center;
}

.among_ms-fle2 img{
    position: absolute;
    height: auto;
    margin-top: 25%;
    margin-left: -40px;
    transform: rotate(90deg);
    width: 7%;
}
.among_ms_tit2{
    position: absolute;
    margin-left: -36px;
    margin-top: 32%;
}
.among_ms-fle3 img{
    position: absolute;
    margin-left: 20%;
    margin-top: -21%;
    width: 7%;
    height: auto;
}
.among_ms_tit3{
    position: absolute;
    margin-left: 27%;
    margin-top: -20%;
}

.among_ms-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -22.5%;
    margin-left: 17.2%;
    width: 3%;
} 

/* ----------------------------------------------NAVEGACION---------------------------------------------- */

.among_nave-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_nave-img img:hover{
    border: 1px solid white;
}
.among_nave{
    text-align: center;
}
.among_nave-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -28%;
    margin-top: 14%;
    position: absolute;
    width: 7%;
}
.among_nave_tit{
    position: absolute;
    margin-left: -34.5%;
    margin-top: 14.8%;
}

.among_nave-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -27.4%;
    margin-left: 16.5%;
    width: 3.7%;
} 
.img_modal-xnav{
    cursor: pointer;
    margin-left: 18%;
    margin-top: 9%;
    position: absolute;
    width: 6%;
}
.use_nave{
    cursor: pointer;
    margin-top: -10.5%;
    margin-left: 14%;
    position: absolute;
    width: 5.5%;   
}

/* -----------------------------------------------REACTOR----------------------------------------------- */

.among_rea-img1{
    width: 44.8%;
    height: auto;
    margin-bottom: -2.2%;
    margin-left: -0.3%;
    /* margin: 15px; */
}
.among_rea-img2{
    width: 45%;
    height: auto;
    margin: 15px;
}
.rea_t1{
    margin-top: 12.5%;
    margin-left: -23.8%;
    position: absolute;
    width: 3%;
}
/* .among_rea-img2:hover{
    border: 1px solid white;
} */
.among_rea{
    text-align: center;
}
.among_rea-fle3 img{
    position: absolute;
    margin-left: 20%;
    margin-top: -23%;
    width: 7%;
    height: auto;
}
.among_rea_tit3{
    position: absolute;
    margin-left: 27%;
    margin-top: -20.5%;
}

.among_rea-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -30%;
    margin-left: 39%;
    width: 3.5%;
} 
.img_modal-xr{
    cursor: pointer;
    margin-left: 20%;
    margin-top: 5.6%;
    position: absolute;
    width: 7%;
}

/* -------MODAL 2------- */

.modal2{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
}
#miModalT:target{
    opacity: 1;
    pointer-events:auto;
}
.img_modal2-x{
    height: 35px;
    position: absolute;
    margin-top: 17%;
    margin-left: 35.5%;
    width: 3%;
}


.content_img{
    height: 123px;
    margin-left: 39.4%;
    margin-top: 17%;
    width: 22%;
}
.content div{
    color: #334574;
    font-size: 20px;
}
table {
    /* height: 68px; */
    background-color: #8FA1D0;
    position: absolute;
    margin: -8.3% 3% 3% 41.5%;
    width: 18%;
}

th {
    height: 35px;
    border: solid #0B3DBA;
    cursor: pointer;
    outline: none;
    text-align: center;
    width: 3%;
}

/* -----------------------------------------------SEGURIDAD--------------------------------------- */


.among_seg-img img{
    width: 45%;
    height: auto;
    margin: 15px;
}
.among_seg-img img:hover{
    border: 1px solid white;
}
.among_seg{
    text-align: center;
}
.among_seg-fle img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -27%;
    margin-top: 15%;
    position: absolute;
    width: 7%;
}
.among_seg_tit{
    position: absolute;
    margin-left: -33.3%;
    margin-top: 15.8%;
}

.among_seg-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -27.4%;
    margin-left: 16.5%;
    width: 3.6%;
} 

/* ------------------------------------------------O2-------------------------------------------------- */

.among_o2-img img{
    width: 45%;
    height: auto;
    margin: 15px;
    margin-top: 13%;
}
.among_o2-img img:hover{
    border: 1px solid white;
}
.among_o2{
    text-align: center;
}
.among_o2-fle img{
    height: auto;
    transform: rotate(270deg);
    margin-left: 12%;
    margin-top: 6%;
    position: absolute;
    width: 7%;
}
.among_o2_tit{
    position: absolute;
    margin-left: 11%;
    margin-top: 2.4%;
}
.among_o2-fle3 img{
    position: absolute;
    margin-left: 20%;
    margin-top: -18.5%;
    width: 7%;
    height: auto;
}
.among_o2_tit3{
    position: absolute;
    margin-left: 27%;
    margin-top: -16%;
}

.among_o2-img2 img{
    cursor: pointer;
    position: absolute;
    height: auto;
    margin-top: -28.5%;
    margin-left: 16.2%;
    width: 3.5%;
} 

/* -----------------------------------------------PASILLO-------------------------------------- */


.among_p1-img img{
    width: 33%;
    height: auto;
    margin-top: 12%;
}
.among_p1-img img:hover{
    border: 1px solid white;
}
.among_p1{
    text-align: center;
}
.among_p1-fle img{
    height: auto;
    transform: rotate(270deg);
    margin-left: -6%;
    margin-top: 4.5%;
    position: absolute;
    width: 7%;
}
.among_p1_tit{
    position: absolute;
    margin-left: -7%;
    margin-top: 1%;
}
.among_p1-fle2 img{
    height: auto;
    position: absolute;
    margin-top: -0.8%;
    margin-left: -5.5%;
    transform: rotate(90deg);
    width: 7%;
}
.among_p1_tit2{
    position: absolute;
    margin-left: -6%;
    margin-top: 6%;
}
.among_p1-fle3 img{
    position: absolute;
    margin-left: 15%;
    margin-top: -22%;
    width: 7%;
    height: auto;
}
.among_p1_tit3{
    position: absolute;
    margin-left: 22%;
    margin-top: -19.5%;
}

/* ---------------------------------------------PASILLO 2------------------------------------- */


.among_p2-img img{
    width: 30%;
    height: auto;
    margin-top: 12%;
}
.among_p2-img img:hover{
    border: 1px solid white;
}
.among_p2{
    text-align: center;
}
.among_p2-fle img{
    height: auto;
    transform: rotate(270deg);
    margin-left: -3%;
    margin-top: 4%;
    position: absolute;
    width: 7%;
}
.among_p2_tit{
    position: absolute;
    margin-left: -7%;
}
.among_p2-fle4 img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -22%;
    margin-top: 22%;
    position: absolute;
    width: 7%;
}
.among_p2-fle2 img{
    height: auto;
    position: absolute;
    margin-top: 0.2%;
    margin-left: -3.5%;
    transform: rotate(90deg);
    width: 7%;
}
.among_p2_tit2{
    position: absolute;
    margin-left: -6%;
    margin-top: 7%;
}
.among_p2-fle3 img{
    position: absolute;
    margin-left: 15%;
    margin-top: -20%;
    width: 7%;
    height: auto;
}
.among_p2_tit3{
    position: absolute;
    margin-left: 22%;
    margin-top: -17.5%;
}
.among_p2_tit4{
    position: absolute;
    margin-left: -30%;
    margin-top: 22.8%;
}

/* -------------------------------------------------PASILLO 3--------------------------------------- */


.among_p3-img img{
    width: 30%;
    height: auto;
    margin-top: 12%;
}
.among_p3-img img:hover{
    border: 1px solid white;
}
.among_p3{
    text-align: center;
}
.among_p3-fle img{
    height: auto;
    transform: rotate(270deg);
    margin-left: -11%;
    margin-top: 4%;
    position: absolute;
    width: 7%;
}
.among_p3_tit{
    position: absolute;
    margin-left: -11.7%;
}
.among_p3-fle4 img{
    height: auto;
    transform: rotate(180deg);
    margin-left: -21.6%;
    margin-top: 15.5%;
    position: absolute;
    width: 7%;
}
.among_p3_tit4{
    position: absolute;
    margin-left: -25%;
    margin-top: 16.5%;
}
.among_p3-fle2 img{
    height: auto;
    position: absolute;
    margin-top: 0.2%;
    margin-left: -11%;
    transform: rotate(90deg);
    width: 7%;
}
.among_p3_tit2{
    position: absolute;
    margin-left: -11%;
    margin-top: 7%;
}
.among_p3-fle3 img{
    position: absolute;
    margin-left: 14.7%;
    margin-top: -20%;
    width: 7%;
    height: auto;
}
.among_p3_tit3{
    position: absolute;
    margin-left: 21.5%;
    margin-top: -17.5%;
}














/* ------------------------------------------------------------------- */

.modal{
    background-color: rgba(0, 0, 0, 0.8);
}
.modal2_rea{
    background-color: rgba(0, 0, 0, 0.8);
    /* width: 80%; */
}
.img_modal-x{
    cursor: pointer;
    height: auto;
    position: absolute;
    margin-top: 12.3%;
    margin-left: 27.9%;
    width: 2.5%;
}
.img_modal{
    height: auto;
    margin-top: 10%;
    margin-left: 25.5%;
    margin-bottom: 15%;
    width: 48%;
}