#container3 {
  visibility: visible;
  /* width: 909px;
  height: 909px; */
  /* padding-top: 1%; */
  margin-left: 18%;
}

.action3 {
  width: 183px;
  height: 158px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  padding: 0 0 0 0;
}

#uno3 {
  position: relative;
  left: -537.5px;
  top: -309.5px;
}

#dos3 {
  position: relative;
  left: -575px;
  top: -390.5px;
}

#tres3 {
  position: relative;
  left: 356.5px;
  top: -468.5px;
}

#cuatro3 {
  position: relative;
  left: 28.5px;
  top: -385.5px;
}

#cinco3 {
  position: relative;
  left: -306px;
  top: -300px;
}

#seis3 {
  position: relative;
  left: -337px;
  top: -215px;
}

#siete3 {
  position: relative;
  left: -374px;
  top: -300px;
}