#container3 {
  visibility: visible;
  /* width: 909px;
  height: 909px; */
  /* padding-top: 1%; */
  margin-left: 18%;
}

.action3 {
  width: 273.5px;
  height: 238px;
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 0;
  background-color: transparent;
  padding: 0 0 0 0;
}

#uno3 {
  position: relative;
  left: 102.4px;
  top: -705px;
}

#dos3 {
  position: relative;
  left: 48px;
  top: -827px;
}

#tres3 {
  position: relative;
  left: -11.4px;
  top: -701px;
}

#cuatro3 {
  position: relative;
  left: 318px;
  top: -819.5px;
}

#cinco3 {
  position: relative;
  left: -182.4px;
  top: -691px;
}

#seis3 {
  position: relative;
  left: -230px;
  top: -563px;
}

#siete3 {
  position: relative;
  left: 537px;
  top: -931px;
}