canvas {
    background-color: #000;
}

#container {
    visibility: visible;
    width: 1200px;
    height: 680px;
}

.action {
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 43px 58px 60px 45px;
    background-color: rgba(115, 115, 115, 0.65);
    border-radius: 10px;
    border: 2px solid transparent;
}

#uno {
    position: relative;
    left: 722px;
    top: -463px;
}

#dos {
    position: relative;
    left: 739px;
    top: -463px;
}

#tres {
    position: relative;
    left: 756px;
    top: -463px;
}

#cuatro {
    position: relative;
    left: 401px;
    top: -340px;
}

#cinco {
    position: relative;
    left: 418px;
    top: -340px;
}

#seis {
    position: relative;
    left: 435px;
    top: -340px;
}

#siete {
    position: relative;
    left: 81px;
    top: -215px;
}

#ocho {
    position: relative;
    left: 97.5px;
    top: -215px;
}

#nueve {
    position: relative;
    left: 114px;
    top: -215px;
}


