.canvas1 {
    background-color: transparent;
    margin-top: 5%;
    margin-left: 30%;
    margin-bottom: 13%;
}

#container1 {
    visibility: visible;
    /* margin-left: -25%; */
}

.action1{
    /* font-size: 20px; */
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 43px 38px 30px 25px;
    background-color:  #8FA1D0;
    /* border-radius: 10px; */
    border: 3px solid #0D3CB8;
}

.fila1{
    margin-left: 36.4%;
    margin-top: -42.6%;
    position: absolute;
}
.fila2{
    margin-top: -36%;
    margin-left: 36.4%;
    position: absolute;
}
#uno1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    position: relative;
    width: 2%;
}

#dos1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
}

#tres1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
}

#cuatro1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
}

#cinco1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
}

#seis1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
}

#siete1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
}

#ocho1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
}

#nueve1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
}

#diez1 {
    color: #273968;
    font-size: 20px;
    height: 25px;
    margin-right: 8px;
    width: 2%;
} 



